<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VehicleRental</display-name>
  <welcome-file-list>
    <welcome-file>/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>carrental.controller.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>


  <!-- Customer Contoller  -->
  <servlet>
  	<servlet-name>jboss-as-spring-mvc-context</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

    <load-on-startup>1</load-on-startup>
    <!-- load-on-startup can specify an (optional) integer value. If the value is 0 or greater, it indicates an order for servlets to be loaded, servlets with higher numbers get loaded after servlets with lower numbers. -->
  </servlet>


  <servlet-mapping>
 	<servlet-name>jboss-as-spring-mvc-context</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>
		/WEB-INF/jboss-as-spring-mvc-context.xml,
		/WEB-INF/jboss-as-spring-mvc-context-servlet.xml,
		/WEB-INF/spring-security.xml,
		/WEB-INF/mvc-dispatcher-servlet.xml
	</param-value>
  </context-param>

   <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
    </listener-class>
    <!-- to load spring context xml -->
  </listener>


<!-- mapping between the error-code or exception-type to the location of a resource in the web application. -->
  <error-page>
	<error-code>404</error-code>
	<location>/WEB-INF/pages/404.jsp</location>
  </error-page>

  <error-page>
	<exception-type>java.lang.Exception</exception-type>
	<location>/WEB-INF/pages/404.jsp</location>
  </error-page>


<!-- Spring Security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>







<!-- Interceptor -->

 <servlet>
  	<servlet-name>mvc-dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
 	<servlet-name>mvc-dispatcher</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>



</web-app>